.container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

#innerContainer {
  margin: auto;
  margin-bottom: 100px; 
}

.flexdown {
  margin-top: 10%;
  flex-direction: column;
}

.headitem {
  margin: 0px;
}

.items {
  margin: 5px 5px;
}

#rule {
  margin-top: 40px;
  width: 80%;
}

input {
}

label {
}
